/*----PRINCIPAL----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----HEADER----*/
.font {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #715138;
}

header a img {
    width: 100px;
    height: 100px;
    padding-left: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav {
    display: flex;
    margin-top: 10px;
}

.nav li {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    background-color: #ffffff;
    border: 1px #a8723c solid;
    padding: 5px 15px 5px 15px;
    margin: 15px;
    transition-property: all;
    transition-duration: 1s;
}

.nav li:hover {
    background-color: #c28a52;
    color: #715138;
}

/*----MAIN----*/
.titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px #a8723c solid;
    border-bottom: 2px #a8723c solid;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-top: 5px;
}

.titulo div {
    text-align: center;
}

.titulo div h1 {
    font-size: 50px;
    color: #715138;
    font-weight: 1000;
    margin-top: 5px;
}

.titulo div h2 {
    font-size: 30px;
    color: #715138;
    font-weight: 800;
}

.carrusel {
    margin-top: 20px;
}

.carousel-inner img {
    height: 750px;
    opacity: 0.7;
}

.carousel-inner h5 {
    font-size: 30px;
    font-weight: 1000;
}

.carousel-inner p {
    font-size: 20px;
    font-weight: 600;
}

.extra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
}

.extra div {
    transition-property: all;
    transition-duration: 1s;
}

.extra div:hover {
    scale: 1.1;
}

.extra img {
    border: 2px #a8723c solid;
    width: 300px;
    height: 300px;
    opacity: 0.7;
}

.extra h3 {
    text-align: center;
    position: relative;
    top: 175px;
    color: #715138;
    z-index: 100;
    font-weight: 700;
}

/*----FOOTER----*/
footer {
    background-color: #aa9d8c;
    border-top: 2px #a8723c solid;
    height: 100px;
    margin-top: 10px;
    width: 100%;
}

.redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.derechos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.derechos h4 {
    font-size: 20px;
    font-weight: 600;
}

footer a img {
    width: 40px;
    height: 40px;
}

/*----MENÚ----*/
.menu {
    text-align: center;
    font-size: 20px;
}

.menu img {
    height: 250px;
    width: 250px;
}

.nuestro-menu div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

#titulo {
    border-top: 2px #a8723c solid;
    border-bottom: 2px #a8723c solid;
    padding-top: 2px;
    padding-bottom: 5px;
}

.nuestro-menu div h1 {
    font-size: 50px;
    color: #715138;
    font-weight: 800;
}

.nuestro-menu div h2 {
    text-align: center;
    padding-top: 5px;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #715138
}

.bebidas-uno {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 30px;
}

.bebidas-uno h3 {
    padding-top: 5px;
    color: #634a38;
}

.bebidas-dos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 20px;
}

.bebidas-dos h3 {
    padding-top: 5px;
    color: #634a38;
}

.titulo-comida {
    border-top: 2px #a8723c solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulo-comida h2 {
    color: #715138
}

.comida h3 {
    color: #634a38;
}

.comida {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 30px;
}

.animation div {
    transition-property: all;
    transition-duration: 1s;
}

.animation div:hover {
    scale: 1.1;
}

/*----TIENDA----*/

.tienda {
    text-align: center;
    font-size: 20px;
}

.tienda img {
    height: 250px;
    width: 250px;
}

.tienda-section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

#titulo-tienda {
    border-top: 2px #a8723c solid;
    border-bottom: 2px #a8723c solid;
    padding-top: 2px;
    padding-bottom: 5px;
}

.tienda-section div h1 {
    font-size: 50px;
    color: #715138;
}

.tienda-section div h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 35px;
    color: #715138;
}

.maquina-cafe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 30px;
    border-bottom: 2px #a8723c solid;
    margin-top: 10px;
}

.maquina-cafe h3 {
    padding-top: 5px;
    color: #634a38;
}

.titulo-cafe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #715138;
}

.cafe-tienda {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 30px;
    border-bottom: 2px #a8723c solid;
}

.cafe-tienda h3 {
    padding-top: 5px;
    color: #634a38;
}

.titulo-accesorio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #715138;
}

.articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 30px;
}

.articulos h3 {
    color: #634a38;
}

/*----NOSOTROS----*/
.nosotros {
    color: #715138;
}

.nosotros img {
    height: 400px;
    width: 600px;
    margin-top: 5px;
    margin-bottom: 8px;
    border: 2px #a8723c solid;
}

.nosotros-titulo {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.nosotros-titulo div h1 {
    border-top: 2px #a8723c solid;
    border-bottom: 2px #a8723c solid;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 50px;
}

.nosotros-titulo div h2 {
    padding-top: 5px;
    font-size: 35px;
}

.historia {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px #a8723c solid;
    padding-bottom: 5px;
    flex-wrap: wrap;
}

.historia div {
    padding-left: 10px;
    padding-right: 10px;
}

.historia div p {
    width: 600px;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

.mision-titulo {
    text-align: center;
    margin-bottom: 10px;
}

.mision-titulo h2 {
    padding-top: 5px;
    font-size: 35px;
    border-bottom: 2px #a8723c solid;
    padding-bottom: 5px;
}

.mision {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px #a8723c solid;
    padding-bottom: 5px;
    flex-wrap: wrap;
}

.mision div {
    padding-left: 10px;
    padding-right: 10px;
}

.mision div p {
    width: 600px;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

.eventos-titulos {
    text-align: center;
    margin-bottom: 10px;
}

.eventos-titulos h2 {
    padding-top: 5px;
    padding-bottom: 7px;
    font-size: 35px;
    border-bottom: 2px #a8723c solid;
}

.eventos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    flex-wrap: wrap;
}

.eventos div {
    padding-left: 10px;
    padding-right: 10px;
}

.eventos div p {
    width: 600px;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

.contacto {
    width: 100%;
    margin-top: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

.contacto h1 {
    text-align: center;
    font-size: 50px;
    border-top: 2px solid #a8723c;
    border-bottom: 2px solid #a8723c;
    padding-top: 2px;
    padding-bottom: 5px;
    color: #715138;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
    height: 545px;
}

.formulario h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    color: #715138;
}

.formulario p {
    color: #715138;
    font-weight: 600;
    font-size: 20px;
}

.formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario form label {
    display: block;
}

.formulario form p {
    margin: 0;
    padding: 1em;
}

.formulario form a {
    grid-column: 1/3;
    text-decoration: none;
    color: #715138;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.formulario form input,
.formulario form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid #a8723c;
}

.formulario form a {
    text-transform: uppercase;
    padding: 1em;
    transition-property: all;
    transition-duration: 1s;
}

.formulario form a:hover {
    background-color: #c28a52;
}

/**----MQ----**/

@media screen and (max-width:755px) {
    header {
        flex-direction: column;
    }
    .carousel-item img {
        height: 500px;
    }
}

@media screen and (max-width:630px) {
    .nav li {
        margin: 0;
        border: none;
        padding: 5px 10px 5px 10px;
        font-size: 17px;
    }

    .nosotros img {
        height: 150px;
        width: 350px;
    }
    .historia { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .historia div p {
        font-size: 10px;
        width: 300px;
        margin: 0;
        text-align: center;
    } 

    .mision {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mision div p {
        font-size: 10px;
        width: 300px;
        margin: 0;
        text-align: center;
    }

    iframe {
        height: 250px;
        width: 350px;
    }

    .eventos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .eventos div p {
        font-size: 10px;
        width: 300px;
        margin: 0;
        text-align: center;
    }

}

@media screen and (max-width: 475px) {
    header a img {
        width: 60px;
        height: 60px;
    }

    .nav li {
        font-size: 15px;
    }

    .titulo div h1 {
        font-size: 40px;
    }

    .titulo div h2 {
        font-size: 20px;
    }

    .nuestro-menu div h1 {
        font-size: 40px;
    }

    .titulo-comida h2 {
        font-size: 30px;
    }

    .nuestro-menu div h2 {
        font-size: 30px;
    }

    .menu img {
        height: 200px;
        width: 200px;
    }

    .tienda-section div h1 {
        font-size: 40px;
    }

    .tienda-section div h2 {
        font-size: 30px;
    }

    .tienda img {
        height: 200px;
        width: 200px;
    }

    .maquina-cafe h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .titulo-cafe {
        font-size: 20px;
    }

    .cafe-tienda h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .titulo-accesorio {
        font-size: 30px;
    }

    .articulos h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .nosotros-titulo div h1 {
        font-size: 40px;
    }

    .nosotros-titulo div h2 {
        font-size: 30px;
    }

    .mision-titulo h2 {
        font-size: 30px;
    }

    .eventos-titulos h2 {
        font-size: 30px;
    }

    .contacto h1 {
        font-size: 40px;
    }

    .formulario h2 {
        font-size: 30px;
    }

    .formulario form p {
        font-size: 15px;
    }

    .formulario form a {
        padding: 5px;
        font-size: 15px;
    }

}

@media screen and (max-width: 435px) {
    .derechos h4 {
        font-size: 15px;
    }

    footer a img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 400px) {
    .bebidas-uno h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .nav li {
        padding: 5px;
    }

    .bebidas-dos h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .comida h3 {
        font-size: 20px;
        margin-bottom: 10px;

    }

    .maquina-cafe h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 370px) {
    .nosotros img {
        height: 100px;
        width: 300px;
    }
    iframe {
        height: 200px;
        width: 300px;
    }
}

@media screen and (max-width: 325px) {
    footer a img {
        width: 25px;
        height: 25px;
    }

    .derechos h4 {
        font-size: 10px;
    }
}
